.bg-orange{
	background: #ffb347; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(right, #ffb347, #ffcc33);
	background: -o-linear-gradient(right, #ffb347, #ffcc33);
	background: linear-gradient(to left, #ffb347, #ffcc33);
	background: -webkit-linear-gradient(to left, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body{
	background: #f0f0f0
}

::selection {
  background: #ffffaa; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffffaa; /* Gecko Browsers */
}

.quote-box{
	background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.20);
}
	
