<!-- LANDİNG ALANINI AYNI EVERNOTE GİBİ YAPALIM. ÜYELİĞİ HEMEN ALABİLİRİZ.
KULLANICI ADINI KULLANMAYALIM İLK AŞAMADA. MAİL VE PASSWORD DİREK KAYIT... -->

{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}
	<div class="row center-block">								
		<img src="{{url_for('static',filename='assets/landing.jpg')}}" alt="" style="width:600px;height:auto; margin-top:-40px!important;" class="center-block animated fadeIn">
		<span class="text-center center-block animated fadeInUp" style="position: relative; z-index: 2;"> A dijital highlighting experience...</span>
		<h1 class="text-center animated fadeInUp" style="position: relative; z-index:2; margin-top:0px">Save &amp; Read Your <strong>Quotes</strong> Everywhere</h1>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-3 col-lg-3 col-md-offset-4 animated pulse">
			<a class="btn btn-lg btn-info btn-block" href="register">Start Copylighting</a>
		</div>
		<div class="clearfix"></div>
	</div>

{% endblock content %}

