<!-- LANDİNG ALANINI AYNI EVERNOTE GİBİ YAPALIM. -->
{% extends "base.html" %}

{% block content %}

<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
	<div class="row animated fadeIn">
		<h3>Search <small>You can search in quotes and <strong>tags</strong> both</small></h3>
		<p></p>
		<form action="{{ url_for('search') }}" name="searchForm" method="post">
			{{ search_form.hidden_tag() }}
			<div class="input-group">
				{{ search_form.search(class="form-control input-lg", placeholder="Searh in Tags or Quotes") }}
				<span class="input-group-btn">
					{{ search_form.submit(class="btn btn-primary input-lg") }}
				</span>
			</div><!-- /input-group -->
		</form>

		{% for tagContainer in current_user.notes  %}
		{% for tagInner in tagContainer.tags %}

		<div class="center-block" style="margin-top:5px; display: inline-block;">
			<span class="label label-default label-lg">
				{% filter title %}
				{{ tagInner }}
				{% endfilter %}

				<!--<span class="label label-default">{{ tagContainer.tags|length }}</span>-->
			</span>


		</div>
		{% endfor %}
		{% endfor %}
	</div><!--row sonu-->

	<div class="clearfix"></div>
	
	<!--eğer not yoksa uyarı verir-->
	<div class="row" style="margin-top:20px;">
		{#- if current_user.notes < 1 %}<h3>You haven't any Quote yet. You can add one</h3> <button id="addQuote" class="btn btn-success navbar-btn pull-left" data-toggle="modal" data-target="#add_quote">Add Quote <i class="fa fa-plus"></i> </button>	{%- endif -%#}
	</div>

	{% for item in current_user.notes|sort(attribute='created_at',reverse=True)  %}

	<div class="row animated fadeInUp quote-box" style="margin-top:20px; margin-bottom:40px;">
		<h3><strong>{{ item.content|truncate(120) }}...</strong></h3>
		
			<span>
				{% for itemT in item.tags  %}
				<span class="label label-default"> <i class="fa fa-tag"></i>  {{ itemT }}</span>
				{% endfor %}
			</span>
			

			<blockquote style="margin-top:30px;">
			<!--{{ item.content|truncate(420, True) }}-->
			{{ item.content }}
			<footer><cite title="Source Title"><a href="{{item.URLLink}}" target="_blank">{{ item.URLLink }}</cite></a> <span class="pull-right">{{ item.created_at|humanize() }} </span></footer>
			<div class="clearfix"></div>
			<div class="btn-group pull-right" role="group" aria-label="*" style="margin-top:10px;">
				<button id="deleteQuote" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_quote_modal">Delete Quote <i class="fa fa-trash"></i> </button>
				<!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash"></i> Delete</button>-->
			</div>
		</blockquote>

	</div> <!--row sonu-->


	{% include "delete_modal.html" %}


	{% endfor %}


</div><!--col-8-->

<div class="clearfix"></div>


<!--ADD QUOTE-->
<div class="modal fade" id="add_quote" tabindex="-1" role="dialog" aria-labelledby="adding">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="adding">ADD A QUOTE</h4>
			</div>
			<div class="modal-body">
				<!--form goes here-->


				<form action="" method="post">

					{{form.hidden_tag()}}

					<div class="form-group">
						{{form.content.label}}
						<div class="clearfix"></div>
						{% if form.content.errors %}
						<span class="text-danger"><strong>This field is required</strong></span>
						{% endif %}
						{{form.content(class="form-control input-lg", placeholder="Quote in here")}}
					</div>

					<div class="form-group">
						{{ form.tags.label }}
						<abbr title="If you add with tags you can easly find when you search ( example:scholl note)" class="initialism"> <strong>TAGS</strong></abbr>
						<div class="clearfix"></div>


						{% if form.tags.errors %}
						<span class="text-danger"><strong>This field is required</strong></span>
						{% endif %}
						{{form.tags(class="form-control input-md", placeholder="If more than one siplit with comma. example; HISTORY, SOCIOLOGY")}}
						<small>Don't use dot(.)</small>
					</div>



					<div class="form-group">
						{{ form.URLLink.label }}
						<abbr title="If you add with tags you can easly find when you search ( example:scholl note)" class="initialism"> <strong>URLLink</strong></abbr>
						<span class="text-danger"><strong>{{ regex }}</strong></span>
						<div class="clearfix"></div>


						{% if form.URLLink.errors %}
						<span class="text-danger"><strong>Something wrong </strong></span>
						{% endif %}
						{{form.URLLink(class="form-control input-md", placeholder="Source URL")}}
					</div>


					<div class="clearfix"></div>
					<div class="" style="margin-top:15px;">
						{{ form.submit(class="btn btn-success btn-lg btn-block") }}
					</div>
				</form>
				<div class="clearfix"></div>

				<!--form goes here-->
			</div>

		</div><!--modal content-->
	</div><!--modal dialog-->
</div><!--modal-->
<!--ADD QUOTE-->





{% endblock content %}
