<!-- LANDİNG ALANINI AYNI EVERNOTE GİBİ YAPALIM. -->
{% extends "base.html" %}

{% block content %}

<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
	<div class="row animated fadeIn">
		<h3>Search <small>You can search in quotes and <strong>tags</strong> both</small></h3>
		<p></p>
		<form action="{{ url_for('search') }}" name="searchForm" method="post">
			{{ search_form.hidden_tag() }}
			<div class="input-group">
				{{ search_form.search(class="form-control input-lg", placeholder="Searh in Tags or Quotes") }}
				<span class="input-group-btn">
					{{ search_form.submit(class="btn btn-primary input-lg") }}
				</span>
			</div><!-- /input-group -->
		</form>
		
		<ul class="center-block quoteTags">
		{% for tagContainer in current_user.notes  %}
			{% for tagInner in tagContainer.tags %}
				<li class="label label-default quotetagsli">
						 {{ tagInner }}
					<!--<span class="label label-default">{{ tagContainer.tags|length }}</span>-->
				</li>
			{% endfor %}
		{% endfor %}
			
		</ul>
	</div><!--row sonu-->

	<div class="clearfix"></div>
	
	<!--eğer not yoksa uyarı verir-->
	<div class="row" style="margin-top:20px;">
		{#- if current_user.notes < 1 %}<h3>You haven't any Quote yet. You can add one</h3> <button id="addQuote" class="btn btn-success navbar-btn pull-left" data-toggle="modal" data-target="#add_quote">Add Quote <i class="fa fa-plus"></i> </button>	{%- endif -%#}
	</div>


	{% for item in current_user.notes|sort(attribute='created_at',reverse=True)  %}

	<div class="row animated fadeInUp quote-box" style="margin-top:20px;margin-bottom:40px;">
		<!--<h3><strong>{{ item.content|truncate(120) }}...</strong></h3>-->
		<blockquote>
			<span>
				{% for itemT in item.tags  %}
				<span class="label label-default"> <i class="fa fa-tag"></i>  {{ itemT }}</span>

				{% endfor %}
				
				
				<button class="btn btn-link add-tags" data-content="{{item.content}}" data-urllink="{{item.URLLink}}" data-tags="{{item.tags|join(',')}}" data-crf="{{item.id}}" data-target="#add_tags" data-toggle="modal"  style="margin-left:0px;font-size: 12px;">
					Add Tags 
					<i class="fa fa-plus"></i>
				</button>
				
			</span>
			<p></p>

			<!--{{ item.content|truncate(420, True) }}-->
			{{ item.content }}
			<cite title="Source Title" class="quoteLink block">
				<a href="{{item.URLLink}}" target="_blank">{{ item.URLLink }}</a>
			</cite>
			
			<span class="pull-right small">{{ item.created_at|humanize() }} </span>

			<div class="clearfix"></div>

			<div class="btn-group pull-right" role="group" aria-label="*" style="margin-top:10px;">
				<button id="deleteQuote" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_quote_modal">Delete Quote <i class="fa fa-trash"></i> </button>
				<!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash"></i> Delete</button>-->
			</div>
		</blockquote>

	</div> <!--row sonu-->


	{% include "delete_modal.html" %}
	{% include "update_quote_modal.html" %}


	{% endfor %}


</div><!--col-8-->

<div class="clearfix"></div>


{% include "add_quote_modal.html" %}



{% endblock content %}


{% block scripts %}

<script type="text/javascript">
	var seen = {};
	$('li.quotetagsli').each(function() {
	    var txt = $(this).text();
	    if (seen[txt])
	        $(this).remove();
	    else
	        seen[txt] = true;
	});

	$(document).on("click", ".add-tags", function () {
		var data_tags = $(this).attr("data-tags")
		var data_url = $(this).attr("data-urllink")
		var data_content = $(this).attr("data-content")
		var data_crf = $(this).attr("data-crf")

		$("#add_tags .update-tags").attr({
			value: data_tags
		});

		$("#add_tags .update-url").attr({
			value: data_url,
		});

		$("#add_tags .update-content").val(data_content);

		$(".update-submit").attr({
			submit:"Update This Quote" 
			
		});

		$("#wtf").val(data_crf);

		$("#url_id")

	});

</script>

{% endblock %}
